<a href="https://colab.research.google.com/github/FahmidahKhan/Python-codes/blob/master/B2_CT_3_18101089.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum the following series: log(1) + log(2) + log(3) + …. + log(n) = ?

In [ ]:
import math

n = int(input())
i=1

if i%2 == 0:
  i = i + 1

if n%2 == 0:
  n -= 1


sum = 0

while i<n+1:
  if i == n:
    print("log(",i,")", end="")
  else:
    print("log(",i,")", "+", end=" ")
  
  sum = sum + math.log( i )
  i += 2

print(" = ", sum)

21
log( 1 ) + log( 3 ) + log( 5 ) + log( 7 ) + log( 9 ) + log( 11 ) + log( 13 ) + log( 15 ) + log( 17 ) + log( 19 ) + log( 21 ) =  121

You have a group of 3 students. Each student has a name, ID and dept stored in a 	dictionary. And all 3 students are stored in a “students” dictionary. Now use a loop to iterate through the “students” dictionary and print only the “name” of all the students.

In [ ]:

s1={'ID': 18101089,
    'Name':'Fahmidah Khan',
    'Dept': "CSE"}
s2={'ID': 18101094,
    'Name':'Sudip Ghose',
     'Dept': "CSE"}
s3={'ID': 18101100,
    'Name':'Reem Hossain',
    'Dept': "CSE"}

students =[s1,s2,s3]
for i in students:
  print(i["Name"])

Fahmidah Khan
Sudip Ghose
Reem Hossain