<a href="https://colab.research.google.com/github/FahmidahKhan/Python-codes/blob/master/B2_CT_2_18101089.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a python program to calculate the grade of an exam. The exam mark will be given as input. Follow the UAP rule for grading.
e= float(input("Enter the exam mark: "))

print("The Grade obtained for the given exam mark is:")
if 100>=e>=80:
  print("A+")

elif 80>=e>=75:
  print("A")

elif 75>=e>=70:
  print("A-")

elif 70>=e>=65:
  print("B+")

elif 65>=e>=60:
  print("B")

elif 60>=e>=55:
  print("B-")

elif 55>=e>=50:
  print("C+")

elif 50>=e>=45:
  print("C")

elif 45>=e>=40:
  print("D")

else:
  print("F")

Enter the exam mark: 74
The Grade obtained for the given exam mark is:
A-

In [ ]:
# Write a python code to determine negative or non-negative.
n= int(input("Enter an integer: "))

if n>0:
  print("The integer you have entered is: ")
  print("Non-negative")
else :
  print("The integer you have entered is: ")
  print("Negative")

Enter an integer: 1
The integer you have entered is:
Non-negative

In [ ]:
# Given a list of 5 elements, swap two values of specified index.
print("Enter Element 1: ")
a = int(input("Element 1: "))
print("Enter Element 2: ")
b = int(input("Element 2: "))
print("Enter Element 3: ")
c = int(input("Element 3: "))
print("Enter Element 4: ")
d = int(input("Element 4: "))
print("Enter Element 5: ")
e = int(input("Element 5: "))

i1 = int(input("Index 1: "))
i2 = int(input("Index 2: "))

l= [a,b,c,d,e]
print("The original list is: ",l)

temp = l[i1]
l[i1] = l[i2]
l[i2] = temp

print("After swapping: ",l)

Enter Element 1:
Element 1: 10
Enter Element 2:
Element 2: 5
Enter Element 3:
Element 3: 100
Enter Element 4:
Element 4: 4
Enter Element 5:
Element 5: 6
Index 1: 2
Index 2: 4
The original list is:  [10, 5, 100, 4, 6]
After swapping:  [10, 5, 6, 4, 100]

In [ ]:
# Choose variables of appropriate data type to store the following information where you can search information about an employee with their EmpID.	
D = {
    77920 : {
        "EmpID" : 77920,
        "LastName" : "Jackson",
        "FirstName" : "Stephen",
        "HireDate" : "11-29-1997"
    },
     77921 : {
         "EmpID" : 77921,
        "LastName" : "Reynolds",
        "FirstName" : "Sandy",
        "HireDate" : "01-04-1993"
     },
      77922 : {
         "EmpID" : 77922,
        "LastName" : "Armstrong",
        "FirstName" : "Stephen",
        "HireDate" : "09-16-1989"
     },
      77823 : {
         "EmpID" : 77823,
        "LastName" : "Jackson",
        "FirstName" : "Linda",
        "HireDate" : "10-09-1996"
     }
}
print(D[77921])

{'EmpID': 77921, 'LastName': 'Reynolds', 'FirstName': 'Sandy', 'HireDate': '01-04-1993'}